<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hotel Management</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.css')}}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="js/mobile.js"></script>
</head>
<body>
	<div id="header">
		<a href="index.html" class="logo">
			<img src="static/images/123.jpg" height="250" width="250" alt="">
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="/">home</a>
			</li>
			<li>
				<a href="/hotel">Hotels</a>
			</li>
			<li>
				<a href="/foods">FOODS</a>
			</li>			
			<li>
				<a href="/traveling">Travel</a>
			</li>
			<li>
				<a href="/beer">beer</a>
			</li>
			
		</ul>
	</div>
	<div id="body">
		<h1><span>Traveling</span></h1>
		<div>
				<iframe id="ytplayer" type="text/html" width="640" height="360"
				src="https://www.youtube.com/embed/OHAWwaYu2H0"
				frameborder="0"></iframe>	
			<ul>
				<li>
					<a href="blog-single-post.html" class="figure">
						<img src="static/images/567.jpg" height="370" width="370"alt="">
					</a>
					<div>
						<h3>HEMAS TRAVELS</h3>
						<p>
							Hemas Travels specializes in tailor-made tours to destinations around the world, in such categories as cruises, Cosmos Coach Tours, Wildlife and Exotic destinations among others.
                            Hemas Travels is the General Sales Agent for Royal Caribbean Cruise Liners (RCCL) and Celebrity Cruises,Preferred sales agent for Cosmos Coach Tours, in Sri Lanka, local representative for Indian Railway Catering 
                            and Tourism Corporation Ltd (IRCTC) and General Sales agent for Gulliver’s Travels Association (GTA).

                        </p>						
					</div>
				</li>
				<li>
					<a href="blog-single-post.html" class="figure">
						<img src="static/images/789.jpg"height="370" width="370" alt="">
					</a>
					<div>
						<h3>HEMAS TRAVELS</h3>
						<p>
						Hemas Travels specializes in tailor-made tours to destinations around the world, in such categories as cruises, Cosmos Coach Tours, Wildlife and Exotic destinations among others.
                        Hemas Travels is the General Sales Agent for Royal Caribbean Cruise Liners (RCCL) and Celebrity Cruises,
                        Preferred sales agent for Cosmos Coach Tours, in Sri Lanka, local representative for Indian Railway Catering and Tourism Corporation Ltd (IRCTC) and General Sales agent for Gulliver’s Travels Association (GTA).
                        </p>						
					</div>
				</li>
				<li>
					<a href="blog-single-post.html" class="figure">
						<img src="static/images/987.jfif" height="370" width="370"alt="">
					</a>
					<div>
						<h3>jetwing Travels</h3>
						<p>
							jetwing Travels can help you plan a great holiday, assist you in your hotel bookings, and recommend and select the best destinations and experiences.
                            Get in touch with us today.
						</p>
											
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div>			
			<ul>
				<li>
					<a href="http://freewebsitetemplates.com/go/twitter/"><img src="static/images/icons/aaa.jpg"></a>
					<!-- <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter"></a> -->
				</li>
				<li>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook"><img src="static/1.jpg"></a>
				</li>
				<li>
					<a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus"><img src="static/images/icons/ggg.jpg"></a>
				</li>
				<li>
					<a href="http://pinterest.com/fwtemplates/" id="pinterest"><img src="static/images/icons/ppp.jpg"></a>
				</li>
			</ul>
		</div>
		
	</div>

</body>
</html>
